body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: #1f1f1f;
}

.btnVoltar{
    position: sticky;
    top: 5px;
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    border-radius: 500px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgb(165, 165, 165);
    border: none;
    transition: all 0.5s;
}.btnVoltar:hover{
    background-color: #9E07F0;
}

section{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

h1{
    font-size: 3rem;
    background-color: rgb(66, 66, 66);
    text-decoration: underline 3px white;
    text-underline-offset: 0.4rem;
    width: max-content;
    font-family: 'Reem Kufi Ink', sans-serif;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.areaProjetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: #9E07F0;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


.conteinerProjeto{
    background-color: #5f0391;
    height: 300px;
    width: 300px;
    margin: 10px;
}

.btnEscola{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-size: 20px;
    justify-content: space-evenly;
    border: none;
    margin-bottom: 10px;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: all 0.5s;
}.btnEscola:hover{
    background-color: #9E07F0;
}
