#cronogramaArea{
    width: 100vw;
    height: max-content;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.tituloCronograma{
    text-align: end;
    color: white;
    font-size: 45px;
    font-family: 'Reem Kufi Ink', sans-serif;
    background-color:#9E07F0 ;
    padding:25px;
    padding-left:80px;
    padding-right: 500px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-left: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.cronogramaEspaco{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.cronogramaEspaco{
    height: 80vh;
    width: 80vw;
    padding: 20px;
    background-color: #9E07F0;
    border-radius: 60px;
    box-shadow: 0 0 30px #9E07F0;
    animation: pulsando 4s infinite ease;
    margin-bottom: 100px;
}
@keyframes pulsando {
    0%{
        box-shadow: 0 0 30px #9E07F0;
    }
    25%{
        box-shadow: 0 0 20px #9E07F0;
    }
    50%{
        box-shadow: 0 0 30px #9E07F0;
    }
    75%{
        box-shadow: 0 0 20px #9E07F0;
    }
    100%{
        box-shadow: 0 0 30px #9E07F0;
    }
    
}

.cronograma{
    height: 80vh;
    width: 80vw;
    margin: auto;
    border-radius: 60px;
}


/* MOBILE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media only screen and (max-width: 500px) and (min-width: 250px){
    #cronogramaArea{
        display: none;
        width: 100vw;
        height: max-content;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    
    .tituloCronograma{
        display: none;
        text-align: end;
        color: white;
        font-size: 45px;
        font-family: 'Reem Kufi Ink', sans-serif;
        background-color:#9E07F0 ;
        padding:25px;
        padding-left:80px;
        padding-right: 500px;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        margin-left: auto;
        border-top: 2px solid white;
        border-left: 2px solid white;
    }
    .cronogramaEspaco{
        display: none;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
    }
    
    .cronogramaEspaco{
        display: none;
        height: 80vh;
        width: 80vw;
        padding: 20px;
        background-color: #9E07F0;
        border-radius: 60px;
        box-shadow: 0 0 30px #9E07F0;
        animation: pulsando 4s infinite ease;
        margin-bottom: 100px;
    }
    @keyframes pulsando {
        0%{
            box-shadow: 0 0 30px #9E07F0;
        }
        25%{
            box-shadow: 0 0 20px #9E07F0;
        }
        50%{
            box-shadow: 0 0 30px #9E07F0;
        }
        75%{
            box-shadow: 0 0 20px #9E07F0;
        }
        100%{
            box-shadow: 0 0 30px #9E07F0;
        }
        
    }
    
    .cronograma{
        display: none;
        height: 80vh;
        width: 80vw;
        margin: auto;
        border-radius: 60px;
    }
}