#especialidadesArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.especialidadeConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

#tituloEspecialidades{
    font-size: 45px;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: white;
    background-color:#9E07F0 ;
    padding: 10px;
    padding-left: 80px;
    padding-right:80px;
    border-radius: 60px;
    margin-bottom: 50px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.MinhasEspecialidades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.especialidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.iconesEspe{
    height: 70px;}

#descricao{
    color: white;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
}

.formacoesConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

#tituloFormacoes{
    font-size: 45px;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: white;
    background-color:#9E07F0 ;
    padding: 10px;
    padding-left: 120px;
    padding-right:120px;
    border-radius: 60px;
    margin-bottom: 50px;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

.minhasFormacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
.formacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
}

#iconeSenai{
    height: 100px;
    margin: auto;
}
#iconeRock{
    height: 40px;
    width: 200px ;
    margin: auto;
}

#iconeAlura{
    height: 100px;
    margin: auto;
}

/* MOBILE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


@media only screen and (max-width: 500px) and (min-width: 250px){

    #especialidadesArea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: max-content;
    }
    
    .especialidadeConteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 30%;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
    }
    
    #tituloEspecialidades{
        font-size: 1.5rem;
        font-family: 'Reem Kufi Ink', sans-serif;
        color: white;
        background-color:#9E07F0 ;
        padding: 10px;
        padding-left: 80px;
        padding-right:80px;
        border-radius: 60px;
        margin-bottom: 30px;
        border-color: none;
        border-bottom: 2px solid ;
        border-right: 2px solid ;
    }
    
    .MinhasEspecialidades{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     justify-content: center;
     align-items: center;
     align-self: center;
     align-content: center;
     width: 100%;
     margin: auto;
    }
    
    .especialidades{
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .iconesEspe{
        height: 40px;}
    
    #descricao{
        display: none;
    }
    
    .formacoesConteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 40%;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
    }
    
    #tituloFormacoes{
        font-size: 1.5rem;
        font-family: 'Reem Kufi Ink', sans-serif;
        color: white;
        background-color:#9E07F0 ;
        padding: 10px;
        padding-left: 80px;
        padding-right:80px;
        border-radius: 60px;
        margin-bottom: 30px;
        border-bottom: 2px solid ;
        border-right: 2px solid ;
        border-color: none;
    }
    
    .minhasFormacoes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        width: 100%;
        margin: auto;
    }
    .formacoes{
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #iconeSenai{
        height: 70px;
        margin: auto;
    }
    #iconeRock{
        height: 25px;
        width: 140px ;
        margin: auto;
    }
    
    #iconeAlura{
        height: 50px;
        margin: auto;
    }

}