#sobreMimArea{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: max-content;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}

a{
    text-decoration: none; 
    color: inherit;
}
.sobreMimTexto{
    background-color:#9E07F0;
    text-align: center;
    padding: 30px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    width: 65vw;
    border-right: 2px solid white;
}

.tituloSobremim{
    color: white;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 60px ;
}
.areaFotoSobremim{
    height:300px;
    width: auto;
    margin: auto;
}

.fotoSobremim{
    height: 100%;
    filter: drop-shadow(0 5px 23px #DAD3EE);
    border: 1px white solid; 
    border-radius: 500px;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #000000;
}

.saberMais{
    background-color: #A845E6;
    border: none;
    color: #ffffff;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.saberMais:hover{
    letter-spacing: 3px;
    background-color: #DAD3EE;
    color: black;
}


#meuNome2:hover{
    cursor:none;
    animation: colorirLetras2 5s infinite ease;
   }
   #meuNome2::selection{
     color: aqua;
     background-color: #9e07f04f;  
   }
   @keyframes colorirLetras2{
     0% {
         color: #e4b2ff;
         text-shadow: 0.1em 0.1em 1em #e4b2ff;
         text-decoration: underline #e4b2ff ;
       }
       25%{
         color: #ffffff;;
         text-shadow: 0.1em 0.1em 1em #ffffff;
         text-decoration: underline #ffffff;
       }
       50% {
         color: #ff9de6;
         text-shadow: 0.1em 0.1em 1em #ff9de6;
         text-decoration: underline #ff9de6;
       }
       75%{
         color: #daadff;
         text-shadow: 0.1em 0.1em 1em #daadff;
         text-decoration: underline #daadff;
       }
       100% {
         color: #e4b2ff;
         text-shadow: 0.1em 0.1em 1em #e4b2ff;
         text-decoration: underline #e4b2ff;
       }
 }
