.cronogramaArea{
    width: 100vw;
    height: max-content;
}

.tituloCronograma{
    font-size: 45px;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: white;
    background-color:#9E07F0 ;
    padding: 10px;
    padding-left: 80px;
    padding-right:80px;
    border-radius: 60px;
    margin-bottom: 50px;
}
.cronogramaEspaco{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.cronograma{
    height: 70vh;
    width: 90vw;
}