body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    color: white;
}

.fundo{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.fundoVermelho{
    background-color: #c00000;
    height: 100vh;
    width: 45vw;
}
.fundoPreto{
    background-color: #242424;
    height: 100vh;
    width: 55vw;
}

.hud{
  border: white solid 2px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* BOTOES */
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
}
a{
  text-decoration: none;
  color:wheat ;
}

.btnDesign{
    margin-left: 6rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    width: max-content;
    height: max-content;
    border: none;
    color: white;
    font-family: 'Staatliches', cursive;
    transition: all 2s;
}  .btnDesign::before {
    margin-left: auto;
  }
  
  .btnDesign::after, button::before {
    content: '';
    width: 0%;
    height: 4px;
    background: #c00000;
    display: block;
    transition: 0.5s;
  }
  
  .btnDesign:hover::after, button:hover::before {
    width: 100%;
  }


.comeco{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.titulo{
    font-size: 3rem;
    color:wheat ;
}
  
.fotoeicones{
    height: 100px;
}

#github{
    height: 100px;
}

#email{
    height: 100px;
}