body {background-color: black;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  margin: 20px;
}

.hud {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
  align-self: center;
  border: 1px solid white;
  border-radius: 10px;
  height: max-content;
  background-color: white;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.603), 5px 2px 3px rgba(0, 0, 0, 0.349);
  padding: 50px;
  padding-bottom: 10px;
}

.fundo{
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding: 0;
  justify-content: center;
}


.back{
  display: flex;
  justify-content: left;
  opacity: 70%;
  width: max-content;
}
  .back:hover{
      opacity: 100%;
  }
#seta{
  height: 50px;
}
#voltar{
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-decoration: none
}

.botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#botaoEscola{
  height: 300px;
  width: 350px;
  border-radius: 15px;
  font-family: serif;
  font-size: 50px;
  background-color:white;
  color: black;
  border: 3px solid rgb(156, 156, 156);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.349), 0 6px 20px 0 rgba(0, 0, 0, 0.603);
}
  #botaoEscola:hover {
      background-image: linear-gradient(99deg, red, blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: white;
      cursor: pointer;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.349), 0 6px 20px 0 rgba(0, 0, 0, 0.603);
  }

/* BOTAO PROJETOS  */

#botaoTecnico{
  height: 300px;
  width: 350px;
  border-radius: 15px;
  font-family: serif;
  font-size: 50px;
  background-color:white;
  color: black;
  border: 3px solid rgb(156, 156, 156);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.349), 0 6px 20px 0 rgba(0, 0, 0, 0.603);
}
  #botaoTecnico:hover {
      background-image: linear-gradient(99deg, red, blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: white;
      cursor: pointer;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.349), 0 6px 20px 0 rgba(0, 0, 0, 0.603);
  }

#pergunta{
  text-align: center;
  font-size: 50px;
}
.alinhar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#descricao1{
  margin-top: 30px;
  text-align: center;
  width: 350px;
}
#descricao2{
  margin-top: 30px;
  text-align: center;
  width: 350px;
}

    .hud {
        width: 100hv;
        border: 1px solid white;
        border-radius: 5px;
        height: max-content;
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.603), 5px 2px 3px rgba(0, 0, 0, 0.349);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }
