body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: #1f1f1f;
}

.btnVoltar{
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    border-radius: 500px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgb(165, 165, 165);
    border: none;
    transition: all 0.5s;
    position:sticky;
    top: 0;
}.btnVoltar:hover{
    background-color: #9E07F0;
}

section{
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    width: 80vw;
    height: max-content;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

h1{
    font-size: 3rem;
    background-color: rgb(66, 66, 66);
    text-decoration: underline 3px white;
    text-underline-offset: 0.4rem;
    width: max-content;
    font-family: 'Reem Kufi Ink', sans-serif;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

.btnDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-size: 20px;
    justify-content: space-evenly;
    border: none;
    margin-bottom: 10px;
    font-family: 'Reem Kufi Ink', sans-serif;
    transition: all 0.5s;
}.btnDesign:hover{
    background-color: rgb(255, 255, 255);
    color: #9E07F0;
    letter-spacing: 2px;
    font-weight: bold;
}

#descricao{
    font-size:2em;
    color: white;
    margin-top: 100px;
    text-decoration: underline 2px;
    text-underline-offset: 0.1rem; 
    font-family: 'Reem Kufi Ink', sans-serif;
}

.espaco{
    width: 80vw;
    height: max-content;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    border: #9E07F0 3px solid;
    display: flex;
    flex-direction: column;
}

.espacoAtv{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-bottom: 2px solid rgb(94, 94, 94);
    padding: 5px;
}

.areaTexto{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    padding-left: 50px;
}

.tituloProjetos{
    font-size: 22px;
    color: white; 
    height: max-content;
    font-family: 'Reem Kufi Ink', sans-serif;
    background-color: #9E07F0;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.descricaoAtv{
    color: white;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.imagemAtv{
    height: 250px;
    width: 250px;
    margin: auto;
}

a{
    color: rgb(147, 147, 255);
}